<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <h1 class="title">Cuzzie's URL Shortener</h1>
    <div class="content">
      <div class="container">
        <p>Enter your link:</p>
        <input type="text" id="url" autofocus />
      </div>
      <!--
      <div class="container">
        <p>Enter the custom text you want: (optional)</p>
        <input type="text" id="slug" />
      </div>
      -->
      <div class="container">
        <button class="shorten" type="button">Shorten</button>
      </div>
      <div id="generated" class="container hide">
        <p>Shortened URL:</p>
        <div class="newUrlSection">
          <p id="newUrl"></p>
          <button class="copy" type="button">Copy</button>
        </div>
      </div>
      <div id="error" class="container hide">
        <p>Invalid URL! Please enter a valid URL.</p>
      </div>
    </div>

    <script src="/js/app.js"></script>
  </body>
</html>
